/Tuan2/Lab1/nbproject/private/
/Tuan2/Lab1/build/
/Tuan3/lap1/lap1/nbproject/private/
/Tuan3/lap1/lap1/build/
/Tuan3/lap1/lap2/nbproject/private/
/Tuan3/lap2/nbproject/private/
/Tuan3/lap3/JavaApplication3/nbproject/private/