/Tuan2/Lab1/nbproject/private/
/Tuan2/Lab1/build/
/Tuan3/lap1/lap1/nbproject/private/
/Tuan3/lap1/lap1/build/
/Tuan3/lap1/lap2/nbproject/private/
/Tuan3/lap2/nbproject/private/
/Tuan3/lap3/JavaApplication3/nbproject/private/
/Tuan3/lap3/30092019/nbproject/private/
/Tuan3/lap3/09302019/nbproject/private/
/Tuan3/lap3/tuan4/nbproject/private/
/tuan4/tuan4/nbproject/private/
/tuan4/tuan4/build/